<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>Off</VSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Normal</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>DepthTest</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="DepthFunctionState">
      <Function>Lequal</Function>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>Controller</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ka</Name>
          <Value>
            <X>0</X>
            <Y>0</Y>
            <Z>0</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Kd</Name>
          <Value>
            <X>1</X>
            <Y>1</Y>
            <Z>1</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ks</Name>
          <Value>
            <X>1</X>
            <Y>1</Y>
            <Z>1</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>Ns</Name>
          <Value>100</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>mapKd</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>controllerDiffuse</TextureName>
        </BufferBinding>
        <BufferBinding xsi:type="TextureBinding">
          <Name>mapKs</Name>
          <TextureSlot>Texture1</TextureSlot>
          <TextureName>controllerSpecular</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>shaders\controller.vert</VertexShader>
      <FragmentShader>shaders\controller.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Basestation</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ka</Name>
          <Value>
            <X>0.05</X>
            <Y>0.05</Y>
            <Z>0.05</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Kd</Name>
          <Value>
            <X>1</X>
            <Y>1</Y>
            <Z>1</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ks</Name>
          <Value>
            <X>0.5</X>
            <Y>0.5</Y>
            <Z>0.5</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>Ns</Name>
          <Value>100</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>mapKd</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>basestationDiffuse</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>shaders\basestation.vert</VertexShader>
      <FragmentShader>shaders\basestation.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Sphere</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ka</Name>
          <Value>
            <X>0.2</X>
            <Y>0.2</Y>
            <Z>0.2</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Kd</Name>
          <Value>
            <X>0.8</X>
            <Y>0.8</Y>
            <Z>0.8</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec3Uniform">
          <Name>Ks</Name>
          <Value>
            <X>0.8</X>
            <Y>0.8</Y>
            <Z>0.8</Z>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>Ns</Name>
          <Value>1000</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>shaders\sphere.vert</VertexShader>
      <FragmentShader>shaders\sphere.frag</FragmentShader>
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>controllerDiffuse</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>textures\onepointfive_texture.png</FileName>
      <ColorType>Unchanged</ColorType>
      <FlipMode>Vertical</FlipMode>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>controllerSpecular</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>textures\onepointfive_spec.png</FileName>
      <ColorType>Unchanged</ColorType>
      <FlipMode>Vertical</FlipMode>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>basestationDiffuse</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>textures\lh_basestation_vive.png</FileName>
      <ColorType>Unchanged</ColorType>
      <FlipMode>Vertical</FlipMode>
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Controller</Name>
      <FileName>models\vr_controller_vive_1_5.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Basestation</Name>
      <FileName>models\lh_basestation_vive.obj</FileName>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedModel">
      <Name>Sphere</Name>
      <FileName>models\sphere.obj</FileName>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>